        <!-- Footer -->
        <footer class="page-footer font-small p-3 mb-2 foot text-white">
                <!-- Footer Elements -->
                <div class="container">
                        <!-- Grid row-->
                        <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12 py-5">
                                          
                                        <!-- Magic Baker logo on the left -->
                                        <div class="mb-5 float-left">
                                                  <img src="https://i.imgur.com/OvECh3f.jpg" width="100" hight="100" >
                                        </div>
                                        <!-- Icons listed one below another -->
                                        <div class="d-inline">
                                                  <div class="float-right">
                                                          <p>Contact Us</p>
                                                      <!-- Phone Number -->
                                                      <a href="https://www.facebook.com/magicbakerto/">
                                                        <i class="fa fa-phone"></i>
                                                        (416) 871 1561
                                                      </a>
                                                      <!-- Facebook -->
                                                      <a href="https://www.facebook.com/magicbakerto/">
                                                        <i class="fa fa-facebook fa-lg black-text mr-md-5 mr-3 fa-2x">  </i>
                                                        /magicbakerto
                                                      </a>
                                                     
                                                      <!--Instagram-->
                                                      <a href="https://www.instagram.com/magicbakerto/?hl=en">
                                                        <i class="fa fa-instagram fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
                                                        @magicbakerto
                                                      </a>
                                                          
                                                      <!--Email-->
                                                      <a href="mailto:magicbakerto@gmail.com">
                                                        <i class="fa fa-envelope fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
                                                        magicbakerto@gmail.com
                                                      </a>
                                                  </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Magicbaker.ca</a>
                </div>
                <!-- Copyright -->
        </footer>
    </body>
</html>