        <!-- Footer -->
    <footer class="page-footer font-small foot text-black">
      <!-- Footer Elements -->
      <div class="container-flui ui vertical footer segment footer">
        <!-- Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-12 text-center p-0 y-0 bg-white foot">
          <!-- Icons listed in line below another -->
          <div class="d-inline">
            <!-- Magic Baker logo in the center -->
            <a class="mr-2" href="/"><img src="https://i.imgur.com/gg44ztO.png" width="150" hight="150"></a>
            <!--justify text-->
            <div id="footer-link">
              <!--Display text-->
              <div class="text-white mt-5 footer-link">
                <h3> Contact Us </h3>
                <!-- Phone Number -->
                <a class="mr-2 ml-2 text-white" target="_blank" href="https://api.whatsapp.com/send?phone=14168711561">
                  <i class="fab fa-whatsapp fa-lg fa-2x"></i>
                  (416) 871 1561
                </a>
                <!-- Facebook -->
                <a class="mr-2 ml-2 text-white" target="_blank" href="https://www.facebook.com/magicbakerto/">
                  <i class="fab fa-facebook-f fa-lg fa-2x">  </i>
                  /magicbakerto
                </a>
               
                <!--Instagram-->
                <a class="mr-2 ml-2 text-white" target="_blank" href="https://www.instagram.com/magicbakerto/?hl=en">
                 <i class="fab fa-instagram fa-lg fa-2x"> </i>
                  @magicbakerto
                </a>
                                
                <!--Email-->
                <a class="mr-2 ml-2 text-white" target="_blank" href="mailto:magicbakerto@gmail.com">
                  <i class="far fa-envelope fa-lg fa-2x"></i>
                  magicbakerto@gmail.com
                </a>
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                  <a class="text-white" href="/"> Magicbaker.ca</a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>