        <!-- Footer -->
    <footer class="page-footer font-small p-3 mb-2 foot text-black">
      <!-- Footer Elements -->
      <div class="container">
        <!-- Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-12 py-5 text-center">
          <!-- Icons listed one below another -->
          <div class="d-inline">
            <!-- Magic Baker logo on the left -->
            <a class="mr-2" href="/"><img src="https://i.imgur.com/gg44ztO.png" width="100" hight="100"></a>
            
            <!--Display text-->
            <div class="float-right text-black">
              <h3>Contact Us</h3>
              
              <!--justify text-->
              <div class="">
                <!-- Phone Number -->
                <a class="mr-2 ml-2" href="https://www.facebook.com/magicbakerto/">
                  <i class="fab fa-whatsapp fa-lg fa-2x"></i>
                  (416) 871 1261
                </a>
                <!-- Facebook -->
                <a class="mr-2 ml-2" href="https://www.facebook.com/magicbakerto/">
                  <i class="fab fa-facebook-f fa-lg fa-2x">  </i>
                  /magicbakerto
                </a>
               
                <!--Instagram-->
                <a class="mr-2 ml-2" href="https://www.instagram.com/magicbakerto/?hl=en">
                 <i class="fab fa-instagram fa-lg fa-2x"> </i>
                  @magicbakerto
                </a>
                                
                <!--Email-->
                <a class="mr-2 ml-2" href="mailto:magicbakerto@gmail.com">
                  <i class="far fa-envelope fa-lg fa-2x"></i>
                  magicbakerto@gmail.com
                </a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
        <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-black">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Magicbaker.ca</a>
      </div>
    </footer>
  </body>
</html>