<!DOCTYPE html>
<html>
    <head>
      
      <!-- Meta tags to research and share the business-->
      <meta name="description" content="A Local bakery that combines great recipes inspired in traditional Brazilian cuisine with modern baking techniques and HIGH quality ingredients.">
      <meta property="og:title" content="Magic Baker Toronto"/>
      <meta property="og:url" content="magicbakerto.ca"/>
      <meta property="og:description" content="Bakery combining Brazilian cuisine with HIGH quality ingredients">
      <meta property="og:image" content="https://i.imgur.com/V38pSyF.png">
      <meta property="og:type" content="website"/>
      <meta property="og:locale" content="en_US" />
      <!-- META TAGS END-->
      
      <!-- LINKS  -->
      <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/CRaEcUM.png"/>
      <link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet"> -->
      <!-- LINK ENDS-->
      
      <!--Add to use JavaScript-Bootstrap to change nav view on show.ejs-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <title> The Magic Baker </title>
      
    </head>
    
    <body>

      <!-- NAVBAR BEGINS-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--Add image with a link-->
        <a href="#"><img class="mainLogo" src="https://i.imgur.com/NzBBW5O.png">
          
        <!--Button to navigate-->
        <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        <div class="collapse navbar-collapse" id="navbarNav">
          <!--NAVBAR ALIGN ON CENTER-->
          <div class="navbar-brand mainLink" data-toggle="collapse" data-target="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link active" href="#"> Home </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"> Catalog </a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" data-toggle="collapse" data-target="navbarNav">
            <ul class="navbar-nav ml-auto">
              <% if(!currentUser){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Sign Up</a>
                </li>
              <% } else { %> 
                <li class="nav-item signin">
                  <a href="#"> Welcome <%= currentUser.username %> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              <%  } %>
            </ul>
          </div>
       </div>
      </nav>
      <!-- NAVBAR ENDS-->
      <div class="container">
        
        <% if(error && error.length > 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <% } %>
        <% if(success && success.length > 0) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
        <% } %>
      </div>