<!DOCTYPE html>
<html>
  
  <% include ../head %>
  
  <body>
    <!-- NAVBAR BEGINS-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!--Add image with a link-->
      <a href="/"><img class="mainLogo" src="https://i.imgur.com/NzBBW5O.png">
        
      <!--Button to navigate-->
      <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="collapse navbar-collapse" id="navbarNav">
        <!--NAVBAR ALIGN ON CENTER-->
        <div class="navbar-brand mainLink" data-toggle="collapse" data-target="navbarNav">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link active" href="/"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products"> Catalog </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" data-toggle="collapse" data-target="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
              </li>
            <% } else { %> 
              <li class="nav-item signin">
                <a href="#"> Welcome <%= currentUser.username %> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <%  } %>
          </ul>
        </div>
     </div>
    </nav>
    <!-- NAVBAR ENDS-->
    <div class="container">
      
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>