<main role="main" class="bg-white b-0">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <div class="m-4 text-center">

          <h1 class="text-center d-inline slabo myFont" style="font-family: 'Playfair Display', serif;">About Us</h1>
          
          <img class="whisks" width="75" height="75" src="https://i.imgur.com/Gh2GzsC.png" alt="Magic Baker Logo">
        </div>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette h-100 m-4">
          <div class="col-md-7 about">
            <h2 class="featurette-heading slabo">Agnes Teixeira<span class="text-muted"> - Head Chef</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <img src="https://i.imgur.com/1Q6TdgA.png" class="mx-auto d-block" alt="Magic Baker Wheat" width="280" height="100">
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded d-block" src="https://scontent.fyto1-1.fna.fbcdn.net/v/t31.0-8/21167809_10214063232404148_3949603872300628934_o.jpg?_nc_cat=102&_nc_ht=scontent.fyto1-1.fna&oh=9cfa1b89eaaf320bd7256bb6c76627c3&oe=5D1FFAAD" alt="Agnes Teixeira">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette h-100 m-4">
          <div class="col-md-7 order-md-2 about">
            <h2 class="featurette-heading slabo">Erik Gabriel <span class="text-muted"> - Head Office</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <img src="https://i.imgur.com/1Q6TdgA.png" class="mx-auto d-block" alt="Magic Baker Wheat" width="280" height="100">
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded d-block" src="https://scontent.fyto1-1.fna.fbcdn.net/v/t1.0-9/20228675_1449791118391760_3919326661712133688_n.jpg?_nc_cat=103&_nc_ht=scontent.fyto1-1.fna&oh=ba524d8c15da7161b02217a4930e4c28&oe=5D1FA4CE" alt="Erik Gabriel">
          </div>
        </div>

        <hr class="featurette-divider b-4">

        <!-- /END THE FEATURETTES -->
      </div>

    </main>