<main role="main" class="bg-white b-0">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      
      <!-- OUR HISTORY -->
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="container d-inline mb-5">
          <h1 class="display-4 d-inline">Our History</h1>
          
          <img class="whisks d-inline mb-5" width="75" height="75" src="https://i.imgur.com/Gh2GzsC.png" alt="Magic Baker Logo">
        </div>
        
        <p class="lead">The Magic Baker is a Canadian born baking company based in Toronto that combines great recipes inspired in traditional Brazilian cuisine with modern baking techniques and high quality ingredients.</p>
        
        <p class="lead">We strive in bringing the best tasting goodies and the convenience of online ordering anywhere, anytime, to you!</p>
        
        <p class="lead">We offer a great selection of snacks, savoury foods and desserts. Take a look at our party packages!</p>
        
        <p class="lead">(416) 578-0211</p>
        
      </div>
      
      <!-- END OUR HISTORY -->
        
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <!-- ABOUT US-->
        <div class="container d-inline mb-5">
          <h1 class="display-4 d-inline">About Us</h1>
          
          <img class="whisks d-inline mb-5" width="75" height="75" src="https://i.imgur.com/Gh2GzsC.png" alt="Magic Baker Logo">
        </div>
        <!--END ABOUT US-->
        
        <!-- START THE FEATURETTES -->
        <div class="row featurette h-100 m-4">
          <div class="col-md-7 about">
            <h2 class="featurette-heading myFontText text-center">Agnes Teixeira<span class="text-muted"> - Executive Chef</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <img src="https://i.imgur.com/1Q6TdgA.png" class="mx-auto d-block text-center" alt="Magic Baker Wheat" width="280" height="100">
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded d-block" src="https://scontent.fyto1-1.fna.fbcdn.net/v/t31.0-8/21167809_10214063232404148_3949603872300628934_o.jpg?_nc_cat=102&_nc_ht=scontent.fyto1-1.fna&oh=9cfa1b89eaaf320bd7256bb6c76627c3&oe=5D1FFAAD" alt="Agnes Teixeira">
          </div>
        </div>

        <hr class="featurette-divider border border-dark">

        <div class="row featurette h-100 m-4">
          <div class="col-md-7 order-md-2 about">
            <h2 class="featurette-heading myFontText text-center">Erik Gabriel <span class="text-muted"> - Head Office</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <img src="https://i.imgur.com/1Q6TdgA.png" class="mx-auto d-block text-center" alt="Magic Baker Wheat" width="280" height="100">
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded d-block" src="https://scontent.fyto1-1.fna.fbcdn.net/v/t1.0-9/20228675_1449791118391760_3919326661712133688_n.jpg?_nc_cat=103&_nc_ht=scontent.fyto1-1.fna&oh=ba524d8c15da7161b02217a4930e4c28&oe=5D1FA4CE" alt="Erik Gabriel">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->
      </div>

    </main>
    
    <% include partials/footer %>