<% include partials/header %>

<main role="main" class="login">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron text-center mt-5">
        <div class="container-fluid">
          <h1 class="display-3">Our History</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</main>

<% include partials/footer %>