<main role="main" class="login">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron text-center mt-5">
        <div class="container-fluid">
          <div class="d-inline">
            <h2 class="display-3 d-inline myFont">
              About our Magic!
              <img class="d-inline whisks" width="75" height="75" src="https://i.imgur.com/Gh2GzsC.png" alt="Magic Baker Logo">
            </h2>
          </div>
          <p class="m-3">
            The Magic Baker is a Canadian born baking company based in Toronto that combines great recipes inspired in traditional Brazilian cuisine with modern baking techniques and <span class="badge badge-secondary"> high </span> quality ingredients.
          </p>
          <p class="m-3">
            We strive in bringing the best tasting goodies and the convenience of online ordering anywhere, anytime, to you!
          </p>
          <p class="m-3">
            We offer a great selection of snacks, savoury foods and desserts. Take a look at our party packages!
          </p>
          <p class="m-3">
            Follow us on Instagram: @magicbaketo
          </p>
          <a class="m-3" href="https://api.whatsapp.com/send?phone=14168711561" target="_blank"> 
            <p>
             (416) 871-1561 <i class="fab fa-whatsapp fa-lg fa-1x"></i>
            </p>
          </a> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2></h2>
      </div>
      
    </div>
    
  </div>
</main>