<!DOCTYPE html>
<html>
  
  <% include ./head %>
  
  <body>
  
  <div class="container">
      <% if(error && error.length > 0){ %>
          <div class="alert alert-danger" role="alert">
              <%= error %>
          </div>
      <% } %>
      <% if(success && success.length > 0){ %>
          <div class="alert alert-success" role="alert">
              <%= success %>
          </div>
      <% } %>
  </div>
  
  <div id="landing-header">
 	<h1>Magic Baker!</h1>
	<a href="/products" class="mainButton btn btn-lg border-0">Shop Now</a>
  </div>
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
  <div class="wrapper">
   <% include ./about %>
  </div>
               
    
    