.image img {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.btn-warning .btn-danger{
 margin-left: 15px;
 margin-bottom: 20px;
}

.btn-danger {
  margin-right: 15px;
}

.btn-primary, .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ca8c41;
  border-color: #ca8c41;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8c5c22;
    border-color: #8c5c22;
}

.card-header {
 margin-top: 20px;
 margin-bottom: 20px;
}

.image {
  margin-bottom: 20px;
}

.imgFooter {
  margin-right: 20%;
  margin-left: 20%;
}

.mainPicture {
  width: 100%;
  margin-bottom: 20px;
}

.campgroundDescription {
  padding: 10px;
}

.img-thumbnail {
   padding: 10px; 
}

.container-fluid {
    padding-right:10px;
    padding-left:10px;
    margin-right:auto;
    margin-left:auto
 }

.signin {
  padding-top: 8px;
}

.footer {
  width:100%;
  height:20%; 
  bottom:0;
  left:0;

}

.footer-link {
  background-color: #ca8c41;
  border-color: #ca8c41;
}

.login {
  height:100vh;
  max-width: 100%;
  max-height: 100%;
}

.list-group-item.active {
  background-color: #ca8c41;
  border-color: #ca8c41;
}

.about {
  margin:auto;
  height: 100%;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.slabo {
  font-family: 'Slabo 27px', serif;
}

/*Add foot margin top - 17 to fix black line*/
.foot {
  margin-top: -17px;
}

#whisks:hover {
    transition: .03s all;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}