.image img {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.btn-warning .btn-danger{
 margin-left: 15px;
 margin-bottom: 20px;
}

.btn-danger {
  margin-right: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #98753b;
  border-color: #98753b;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c68f46;
    border-color: #c68f46;
}

.card-header {
 margin-top: 20px;
 margin-bottom: 20px;
}

.image {
  margin-bottom: 20px;
}

.imgFooter {
  margin-right: 20%;
  margin-left: 20%;
}

.mainPicture {
  width: 100%;
  margin-bottom: 20px;
}

.campgroundDescription {
  padding: 10px;
}

.img-thumbnail {
   padding: 10px; 
}

.container-fluid {
    padding-right:10px;
    padding-left:10px;
    margin-right:auto;
    margin-left:auto
 }

.signin {
  padding-top: 8px;
}

.footer {
  width:100%;
  height:20%; 
  bottom:0;
  left:0;

}

.footer-link {
  background-color: #c68f46;
  border-color: #c68f46
}

.login {
  height:100vh;
  max-width: 100%;
  max-height: 100%;
}

.list-group-item.active {
  background-color: #c68f46;
  border-color: #c68f46;
}